@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
html{
    background-image:url("https://www.wallpapertip.com/wmimgs/1-15554_abstract-gaming-wallpaper-4k.jpg");
    
}
.first{
    font-family: Niconne;
    padding: 10px;
    margin: auto;
    display: flex;
    /* position: absolute; */
    /*transform:translate(-50%,-50%);*/
    /* flex-direction: column; */
    width: 95%;
    height:650px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, .2) ;
    align-items:center ;
    flex-direction: column;
     /* mix-blend-mode:luminosity;  */
     color: white;
    font-size: 50px;
}

ul{
    color: white;
    border: 2px solid rgba(255, 255, 255, .2) ;
    justify-content: center;
    height: 50px;
    background-color: rgb(52, 0, 87) ;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 50vw;
    margin-right: 2vw;
    border-radius: 4px;
    box-shadow: -3px -3px 7px rgba(65, 60, 70, 0), 3px 3px 5px rgba(21, 20, 22, 0.945);
}
li{
    font-size: 25px;
    justify-content: space-around;
    width: 40%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(2px);
}
.ppp{
    background-color: tomato;
  

}

