@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
html{
    background-image:url("https://www.wallpapertip.com/wmimgs/1-15554_abstract-gaming-wallpaper-4k.jpg");
    
}
.first{
    font-family: Niconne;
    padding: 10px;
    margin: auto;
    display: flex;
    /* position: absolute; */
    /*transform:translate(-50%,-50%);*/
    /* flex-direction: column; */
    width: 95%;
    height:650px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 2px solid rgba(255, 255, 255, .2) ;
    align-items:center ;
    flex-direction: column;
     /* mix-blend-mode:luminosity;  */
     color: white;
    font-size: 50px;
}

.ppp{
    background-color: tomato;
  

}

